<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title> </title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />

		<noscript>
			<link rel="stylesheet" href="assets/dist/css/skel.css" />
			<link rel="stylesheet" href="assets/dist/css/style.css" />
			<link rel="stylesheet" href="assets/dist/css/style-xlarge.css" />
		</noscript>

	</head>
	<body class="landing">

		<!-- Header -->
			<div id="header" class="skels-layers-fixed">
				<h1 id="logo"><a href="index.html">Мастерская Дырдыно</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="#">Главная</a></li>
						<li><a href="#">Контакты</a></li>
						<li>
							<a href="">Галерея работ</a>
							<ul>
								<li><a href="#">Шкафы</a></li>
								<li><a href="#">Прихожие</a></li>
							</ul>
						</li>
						<li><a href="#">Партнёрам</a></li>
						<li><a href="#" class="button alt">Оставить заявку</a></li>
					</ul>
				</nav>
			</div>


		<!-- Banner -->
			<section id="banner">
				<h2>Мастерская Дырдыно</h2>
				<p>МЕБЕЛЬ НА ЗАКАЗ В КИЕВЕ И РЕГИОНАХ</p>
				<ul class="actions">
					<li><a href="#" class="button special">Ознакомиться</a></li>
				</ul>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style1">
				<div class="container">
					<section class="feature">
						<div class="row 200%">
							<div class="8u 12u$(medium)">
								<header class="major">
									<h2>Donec nec justo eget</h2>
									<p>Aliquam commodo sed magna</p>
								</header>
								<p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quisgravida id, est. Sed lectuisto. Praesent lorem ipsum dolor sit amet blandit elementum hendrerit dolor sit amet feugiat. Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing.</p>
								<ul class="actions">
									<li><a href="#" class="button alt">Learn more</a></li>
								</ul>
							</div>
							<div class="4u$ 12u$(medium) important(medium)">
								<span class="image fit rounded">
									<img src="assets/dist/images/pic01.jpg" alt="" />
								</span>
							</div>
						</div>
					</section>
					<section class="feature">
						<div class="row 200%">
							<div class="4u 12u$(medium)">
								<span class="image fit rounded">
									<img src="assets/dist/images/pic02.jpg" alt="" class="rounded" />
								</span>
							</div>
							<div class="8u$ 12u$(medium)">
								<header class="major">
									<h2>Aliquam blandit mauris</h2>
									<p>Vivamus nulla ante vestibulum</p>
								</header>
								<p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quisgravida id, est. Sed lectuisto. Praesent lorem ipsum dolor sit amet blandit elementum hendrerit dolor sit amet feugiat. Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero faucibus.</p>
								<ul class="actions">
									<li><a href="#" class="button alt">Learn more</a></li>
								</ul>
							</div>
						</div>
					</section>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style1 special">
				<div class="container">
					<header class="major">
						<h2>Наш Instagram</h2>
						<p>вы можете ознакомиться с последними работами и <a href="#">подписаться</a></p>
					</header>
				</div>
				<section class="carousel">
					<article>
						<a href="assets/dist/images/fulls/01.jpg" class="image"><img src="assets/dist/images/thumbs/01.jpg" alt="" title="Lorem ipsum dolor sit amet" /></a>
					</article>
					<article>
						<a href="assets/dist/images/fulls/02.jpg" class="image"><img src="assets/dist/images/thumbs/02.jpg" alt="" title="Lorem ipsum dolor sit amet" /></a>
					</article>
					<article>
						<a href="assets/dist/images/fulls/03.jpg" class="image"><img src="assets/dist/images/thumbs/03.jpg" alt="" title="Lorem ipsum dolor sit amet" /></a>
					</article>
					<article>
						<a href="assets/dist/images/fulls/04.jpg" class="image"><img src="assets/dist/images/thumbs/04.jpg" alt="" title="Lorem ipsum dolor sit amet" /></a>
					</article>
					<article>
						<a href="assets/dist/images/fulls/05.jpg" class="image"><img src="assets/dist/images/thumbs/05.jpg" alt="" title="Lorem ipsum dolor sit amet" /></a>
					</article>
					<article>
						<a href="assets/dist/images/fulls/01.jpg" class="image"><img src="assets/dist/images/thumbs/01.jpg" alt="" title="Lorem ipsum dolor sit amet" /></a>
					</article>
					<article>
						<a href="assets/dist/images/fulls/02.jpg" class="image"><img src="assets/dist/images/thumbs/02.jpg" alt="" title="Lorem ipsum dolor sit amet" /></a>
					</article>
					<article>
						<a href="assets/dist/images/fulls/03.jpg" class="image"><img src="assets/dist/images/thumbs/03.jpg" alt="" title="Lorem ipsum dolor sit amet" /></a>
					</article>
					<article>
						<a href="assets/dist/images/fulls/04.jpg" class="image"><img src="assets/dist/images/thumbs/04.jpg" alt="" title="Lorem ipsum dolor sit amet" /></a>
					</article>
					<article>
						<a href="assets/dist/images/fulls/05.jpg" class="image"><img src="assets/dist/images/thumbs/05.jpg" alt="" title="Lorem ipsum dolor sit amet" /></a>
					</article>
				</section>
				<div class="container">
					<ul class="actions align-center">
						<li><a href="#" class="button alt">Галерея работ</a></li>
					</ul>
				</div>
			</section>

		<!-- Footer -->
			<div id="footer">
				<div class="container">
					<div class="row 200% uniform">
						<section class="8u 12u$(medium) 12u$(small)">
							<header class="major">
								<h3>Оставить заявку</h3>
							</header>
							

							<div class="row uniform 50%">
								<div class="12u$">
									<input type="text" name="name" id="name" value="" placeholder="Ваше имя">
								</div>
								

								<div class="6u 12u$(4) 12u$(small)">
									<input type="email" name="email" id="email" value="" placeholder="Ваш E-Mail">
								</div>
								

								<div class="6u 12u$(4) 12u$(small)">
									<input type="text" name="phone" id="phone" value="" placeholder="Ваш телефон">
								</div>

								<div class="12u$">
									<textarea name="message" id="message" placeholder="Ваше сообщение" rows="7"></textarea>
 								</div>

 								<div class="12u$">
 									<ul class="actions">
 										<li><input type="submit" value="Отправить" class="special"></li>
 									</ul>
 								</div>

							</div>
							
						</section>

						<section class="4u$ 6u$(medium) 12u$(small)">
							<header class="major">
								<h3>Контакты</h3>
							</header>
							<ul class="labeled-icons">
								<li>
									<h4 class="icon fa-envelope"><span class="label">E-mail</span></h4>
									<a href="mailto:info@dirdino.com.ua">info@dirdino.com.ua</a>
								</li>
								<li>
									<h4 class="icon fa-phone"><span class="label">Телефон</span></h4>
									<a href="tel:0444514856">(044) 451 48 56</a>
								</li>
								<li>
									<h4 class="icon fa-home"><span class="label">Адрес</span></h4>
									<a target="_blank" href="https://www.google.com/maps/dir//50.416363,30.449156/@50.4163908,30.4447333,16z/data=!3m1!4b1">
										03151, г. Киев, Воздухофло́тский просп., 72, офис № 42
									</a>
								</li>
								<li>
									<h4 class="icon fa-calendar-o"><span class="label">График работы:</span></h4>
									Работаем с 9:00 до 18:00 (суббота и воскресенье выходные)
								</li>
								<li>
									<h4 class="icon fa-twitter"><span class="label">Twitter</span></h4>
									<a href="#">twitter.com/dirdino</a>
								</li>
								<li>
									<h4 class="icon fa-facebook"><span class="label">Facebook</span></h4>
									<a href="#">facebook.com/dirdino</a>
								</li>
							</ul>
						</section>
					</div>
				</div>
				<div class="copyright">
					Мастерская Дырдыно &copy; 2016
				</div>
			</div>
		
		<div id="loader"><!-- ama preloader--></div>
		
		<link rel="stylesheet" href="assets/dist/css/main.css">

		<!--[if lte IE 8]><script src="assets/dist/css/ie/html5shiv.js"></script><![endif]-->
		<script src="assets/dist/js/concat.js"></script>
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/dist/css/ie/v8.css" /><![endif]-->

	</body>
</html>