// variables
$transition: all 0.35s cubic-bezier(0.310, -0.105, 0.430, 1.590);
$size: 50px;
$colors: (
	"facebook": "#3B5998",
	"twitter": "#3CF",
	"google": "#DC4A38",
	"dribbble": "#F26798",
	"skype": "#00AFF0",
	"vk": "#45668e",
	"ok": "#F6881F"
);

.social-buttons {
	height: $size;
	margin: auto;
	font-size: 0;
	text-align: center;
}

.social-button {	
	display: inline-block;
	background-color: #fff;
	border: 1px solid #ccc;
	box-shadow: 0 0 1px #000;
	width: $size;
	height: $size;
	line-height: $size;
	margin: 0 10px;
	text-align: center;
	position: relative;
	overflow: hidden;
	//overflow bug fix
	opacity: .99;
	border-radius: 28%;
	box-shadow: 0 0 30px 0 rgba(0,0,0,.05);
	transition: $transition;
	
	&:before {
		content: '';
		background-color: #000;
		width: 120%;
		height: 120%;
		position: absolute;
		top: 90%;
		left: -110%;
		transform: rotate(45deg);
		transition: $transition;
	}
	
	.fa {
		font-size: 38px;
		vertical-align: middle;
		transform: scale(.8);
		transition: $transition;
	}
	
	@each $class,$color in $colors {
		
		&.#{$class} {
			
			&:before {
				background-color: #{$color};
			}
			
			.fa {
				color: #{$color};
			}
		}
	}
	
	&:focus,
	&:hover {
		
		&:before {
			top: -10%;
			left: -10%;
		}
		
		.fa {
			color: #fff;
			transform: scale(1);
		}
	}
}