@import 'vars';
@import 'mixins';
@import 'social';
@import '../../../bower_components/bourbon/app/assets/stylesheets/bourbon'; 




%clearboth {
  &:after {
    content: '';
    display: table;
    clear: both;
    padding: 0;
    margin: 0;
  }
}


@mixin center($xy: xy) {
    @if $xy == xy {
        left: 50%;
        top: 50%;
        bottom: auto;
        right: auto;

        @include transform(translateX(-50%) translateY(-50%));
    }
    @else if $xy == x {
        left: 50%;
        right: auto;

        @include transform(translateX(-50%));
    }
    @else if $xy == y {
        top: 50%;
        bottom: auto;

        @include transform(translateY(-50%));
    }
}



#loader {
    background: none repeat scroll 0 0 #ffffff;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 10001;
}

.spinner {
  position: absolute;
  @include center(xy);
  width: 40px;
  height: 40px;
  background-color: #444;

  border-radius: 100%;  
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}






textarea {
	max-width: 100%;
}

input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
	@include transition(border-color 0.3s ease, box-shadow 0.3s ease);

	&:focus {
		border-color: #EDF2F4;
		box-shadow: 0 0 0 1px #EDF2F4;
		@include transition(border-color 0.3s ease, box-shadow 0.3s ease);
	}
}

.labeled-icons {
	a {
		color: #888888;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
			color: #777;
		}
	}
}


.follow_us_on_social  {
	text-align: center;
	margin: rem(60) 0 rem(16);
}


#footer {
	&.-empty {
		padding: rem(40) 0 rem(30);

		.copyright { 
			margin-top: 0;
		}
	}
}


.form_contacts {
	margin-top: rem(80);

  & input, 
  & textarea {
    background-color: #EBEBEB;

    &:focus {
      border-color: #B8B8B8
    }

  }
}

.submit_contacts_form {
	padding: 0 rem(50) !important;
}

#header nav ul li a {
  &:hover {
    color: #000;
  } 
}


.blog_icons {
  display: inline-block;

  &.-date {
    margin-right: 1rem;
  }

  &.-category {
    & a {
      color: rgb(136, 136, 136);
      text-decoration: none;

      &:hover {
            color: #cd4f4f;
            text-decoration: underline;
        
      }
    }
  }

  & i {
    margin-right: 0.5rem;
  } 
}


.blog_pic_wrap {
  // @extend %clearboth;
  & img {
      max-width: 100%;
  }  
}

.blog_content {
  margin-top: 1rem;
  margin-bottom: 1rem;
}


// custom search

#searchbar {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  // float: left;
  width: 100%;
  height: 80px; 
  border-top: 1px solid #d8d8d8;
  padding-left: 25px;
  padding-right: 10px;
  z-index: 9999;
  background: #fff;
  -webkit-box-shadow: -1px 2px 2px rgba(0,0,0,0.2);
  -moz-box-shadow: -1px 2px 2px rgba(0,0,0,0.2);
  box-shadow: -1px 2px 2px rgba(0,0,0,0.2);

  & form {
    margin: 0;
  }
}

#s {
  display: block;
  width: 88%;
  border: 0;
  outline: none;
  padding: 0;
  height: 60px;
  line-height: 80px;
  font-size: 2.0em;
  font-weight: 700; 
  color: #676767;
  font-family: 'Roboto', sans-serif;
  height: 80px;
  
  &:focus, &:hover, & {
    border: none;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
  }

}

#searchsubmit {
  display: block;
  float: right;
  background: none;
  color: #717171;
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 30px;
  line-height: 80px;
  margin-right: 20px;
}


// --------


.header_phone {
    font-size: 1.3em;
    vertical-align: middle;
}

.dropotron.level-0:before {
  display: none; 
}

#skel-layers-wrapper {
    padding-top: 3em;
} 



.footer_actions {
  padding-top: 1em;

  &.-modal {
    margin-bottom: 0;
  }
}

.footer_actions li {
  height: 3.4em;
}

.button.add-file {
    background-color: #37b37f;
    color: #ffffff !important;

    &:hover {
      background-color: #3fc48c;
    } 
}

.add_file_icon {
  display: inline-block;
  margin-right: 0.5em;
}



.footer_attach_file {
  position: relative;

  & input[type='file'] {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
  }
}


.contacts_feedback_fixed_btn {
    font-family: "Roboto", sans-serif;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    font-size: .8em;
    position: fixed;
    top: 50vh;
    right: -73px;
    width: 193px;
    height: 45px;
    margin: 0;
    padding-top: 8px;
    min-width: 193px;
    min-height: 57px;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
    display: inline-block; 


    &:hover {
      right: -69px;
      -webkit-transition: all .1s linear;
      -moz-transition: all .1s linear;
      -o-transition: all .1s linear;
      transition: all .1s linear;
    }
}

.remodal-close {
  left: auto !important;
  right:  0 !important;
}

.remodal-wrapper {
      z-index: 11111 !important;
}

.remodal-overlay {
    z-index: 11111 !important;
}

.modal_feedback {
  & div {
    margin-bottom: 1em;
  }
}

.blog_block {
  // outline: 1px solid red;
  margin-bottom: 3rem;

  &:last-child {
    margin-bottom: 0;
  }
} 



// ===================

%provans_fade {
	&:before {
		background-color: rgba(0,0,0,0.6);
		-webkit-transition: background 0.3s ease;
		-moz-transition: background 0.3s ease;
		-ms-transition: background 0.3s ease;
		-o-transitiozn: background 0.3s ease;
		transition: background 0.3s ease;
	}

	&:hover:before {
		background-color: rgba(0,0,0,0.4);
		-webkit-transition: background 0.3s ease;
		-moz-transition: background 0.3s ease;
		-ms-transition: background 0.3s ease;
		-o-transitiozn: background 0.3s ease;
		transition: background 0.3s ease;
	}
}




.provans {
	&__block {
		height: 300px;
		background: transparent center center no-repeat;
		background-size: cover;
		text-align: center;
		position: relative;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			@extend %provans_fade;
		}

    &.-category {
      
      &.-main {
        height: 305px;
        &:before {
          content: normal;
        }

        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0,0,0,0.3);
        }
      }

      &.-small {
        height: 138px;

        &.-top {
          margin-bottom: 2em;
        }
      }
    }

		&-title {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			font-family: 'Roboto', sans-serif;
			color: #fff;
			text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
			// font-size: 2.5rem;
      z-index: 5;

			& a,
      & span {
				position: absolute;
				width: 100%;
				height: 100%;
				@include center(xy);
        line-height: 300px;

      }

      &.-small {
        & a {
          line-height: 138px;
        }
      }


		}
	}
  
  &__interest {
    margin-top: 5em;
  }

	&__cats {
		&-mainpic{
			max-width: 100%;
		}

    &-bottom {
      margin-top: 2em;
    }
	}

  &__item {
    &-mainblock, &-rakurs {
      background: transparent center center no-repeat;
      background-size: cover;
    }

    &-mainblock {
      height: 300px;
    }

    &-rakurswrap {
      // margin-top: 0.8em !important;
    }

    &-rakurs {
      height: 100px;
      cursor: pointer;

    }

    &-title {
      // text-transform: none;

      &.-price {
        & span {
          padding: 5px;
          background-color: yellow;
        }
      }
    }

    &-colorwrap {
      margin-bottom: 1.3em;
      &:after {
          content: "";
          display: table;
          clear: both;
          zoom: 1;
      }
    }

    &-color {
      float: left;
      width: 20px;
      height: 20px;
      margin-right: 5px;
      cursor: pointer;
    }
  }
}



.blog {
	&__single {
		&-picwrap {
			// text-align: center;
			// max-width: 55% !important;
			& img {
				// max-width: 100%;
				height: auto !important;
			}
		}
	}
}


.feedback {
  z-index: 999;
  background-color: #DD231D;
  border-radius: 50%;
  height: 50px;
  width: 50px;
   position: fixed;
  right: 50px;
  bottom: 30px;
  -webkit-transition: 0.6s;
   transition: 0.6s;
}
.feedback:hover {
  cursor: pointer;
  background-color: #E7504B;
   -webkit-transform: scale(1.1, 1.1);
   transform: scale(1.1, 1.1);
   -webkit-transform: background-color 0.5s ease;
   transform: background-color 0.5s ease;
}
.feedback .fa {
  /* horizontally-center item */
  text-align: center;
  width: 100%;

  /* vertically-center item   */
  height: 100%;
  line-height: 50px;
  
  /* item properties */
  font-size: 25px;  
  color: white;

  /* animations */
   -webkit-transition: 0.6s;
   transition: 0.6s;
}
.feedback:hover .fa { 
   -webkit-transition: 0.6s;
   transition: 0.6s;
   -webkit-transform: rotateY(360deg);
   transform: rotateY(360deg);
}


.feedback-box {
  z-index: 999;
  width: 200px;
  border-radius: 10px;
  background-color: #DD231D;
   position: fixed;
  bottom: 80px;
  right: 20px;
  padding: 2px;
}
.feedback-box .feedback-segment {
  margin: 2px;
  height: 50px;
  background-color: #CC1A14;
  padding: 2px;
  line-height:25px;
  font-family: "Segoe UI";
  font-size: 1em;
  color: white;
}
.feedback-box .feedback-segment.first {
  border-radius: 10px 10px 0px 0px;
}
.feedback-box .feedback-segment.last {
  border-radius: 0px 0px 10px 10px;
}
.feedback-box .feedback-segment i {
  width: 25%;
  line-height: 50px;
  float: left;
  font-size: 40px;
  margin-left: 5px;
  color: white;
}
.feedback-box .feedback-segment:hover {
  background-color: #E7504B;
  cursor: pointer;
}
  
  
/* Credit shake code to sdras on codepen */
.feedback.shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}


// .cats_prov {
  
//   & * {
//     outline: 1px solid red;
//   }
// }