@import 'vars';
@import 'mixins';

/*
	Gravity by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
*/

/* Basic */

	h2 {
		font-size: 1.25em;
	}

	h3 {
		font-size: 1em;
	}

/* Feature */

	.feature {
		margin-top: 2em;
		padding-top: 3em;

		.image {
			margin: 0 auto ($size-element-margin * 1.5) auto;
			width: 16em;
		}
	}

/* Carousel */

	.carousel-wrapper {
		.nav {
			width: 3em;
		}
	}

	.carousel {
		article {
			img {
				width: 8em;
			}
		}
	}

/* Wrapper */

	.wrapper {
		@include padding(3em, 0);
	}

/* Header */

	#skel-layers-wrapper {
		padding-top: 44px;
	}

	#header {
		display: none;
	}

/* Banner */

	#banner {
		@include padding(4em, 3em, (1em, 0, 0, 0));
		background-attachment: scroll;

		h2 {
			font-size: 1.5em;
		}

		br {
			display: none;
		}
	}

/* Main */

	#main {
		@include padding(3em, 0);

		header {
			&.major {
				margin: 0 0 $size-element-margin 0;
			}
		}
	}

/* Footer */

	#footer {
		@include padding(3em, 0);

		.copyright {
			li {
				border-left: 0;
				display: block;
				margin-left: 0;
				padding-left: 0;
			}
		}
	}


#searchbar, #searchtoggl, #small_hide {
	display: none;
}


.footer_actions {
  padding-bottom: 2em;
}

.contacts_feedback_fixed_btn {
	display: none;
}

.blog_content, .blog_pic_wrap {
	text-align: center;
}