@import 'vars';
@import 'mixins';

/*
	Gravity by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
*/

/* Feature */

	.feature {
		text-align: center;

		.image {
			margin: 0 auto ($size-element-margin * 2) auto;
			max-width: 100%;
			width: 22em;
		}
	}

/* Main */

	#main {
		@include padding(6em, 0, (-2em, 0, 0, 0));
	}


	#header {

		#logo {
			a {
				font-size: 0.85rem;
			} 
		}

		nav {
			> ul {
				> li {
					margin-left: 10px;
					&:first-child {
						margin-left: 0;
					}
					a {
						font-size: 0.7em;  
					}
				}
			}
		}
	}
